*.elc
*.re2c
*.parse_table
ada_mode_wisi_lalr_parse
ada_mode_wisi_lr1_parse
ada_mode_wisi_parse.gpr
autoloads.el
build/Makefile.conf
build/*.diff
build/*.tmp
build/check.gpr
build/test.log
gpr_mode_wisi_parse
gpr_query
obj/
run_ada_lalr_parse
run_ada_lr1_parse
run_gpr_parse
test/*.stderr
test/*.stdout
test/*.ali
test/*.o
test/gpr_query.db
test/gpr_query.db-shm
test/gpr_query.db-wal
test/subdir/gpr_query.db
wisi.gpr
