build/*-elisp.el
build/*-process.el
build/*.adb
build/*.ads
build/*.c
build/*.exe
build/*.out
build/*.parse
build/*.parse_table
build/*.re2c
build/*.txt
build/*.wy
build/obj/
build/*.diff
Docs/dir
Docs/wisitoken-user_guide.html
Docs/wisitoken-user_guide.info
build/*.aux
build/*.dvi
build/*.log
build/*.bz2
